@page "/Cis/Preconf"
<h1>Cisco helper</h1>
<ul>
    <li>
        <NavLink class="nav-link" href="Cis/Preconf/HQ">
            HQ
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Cis/Preconf/SW1">
            SW1
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Cis/Preconf/SW2">
            SW2
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Cis/Preconf/SW3">
            SW3
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Cis/Preconf/BR">
            BR
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Cis/Preconf/FW">
            FW
        </NavLink>
    </li>
</ul>

@code {

}
