@page "/ABOBA"

<a href="temp/1.zip" download="https://www.dropbox.com/s/bgbr8e4adeud9or/1.zip?dl=0" target="_top">
    download
</a>
<a href="https://www.dropbox.com/s/bgbr8e4adeud9or/1.zip?dl=0" target="_top">
    qqqqq
</a>
@code{
    




}