<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Helper_Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Cis">
                <span class="oi oi-plus" aria-hidden="true"></span> Cis
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Win">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Win
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Lin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Temp_Link">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Temp_Link
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Golden_Templates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Golden Templates
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
